/* General Style */
body {margin:0px; padding:0px; height: 100%; background: #fff;}
.wrap {text-align: center; background: url('../img/1.png') repeat-x; min-height: 100%; height:auto !important; height:100%;}
.wrap1 {text-align: center; background: url('../img/2.png') bottom repeat-x;}
.contanier {width: 1000px; margin-left: auto; margin-right: auto; background: url('../img/FonSite.jpg') no-repeat; min-height: 1000px;}
.header {height: 280px; margin-left: auto; margin-right: auto; position: relative;}

table.main-table {border: 0px; padding: 0px; border-collapse: collapse; width: 1000px; border-spacing: 0px; margin-left: auto; margin-right: auto;}
td.content-block {vertical-align: top; padding: 20px;}
td.side-block {vertical-align: top; width: 250px; padding: 0;}
td.forum-block {vertical-align: top; padding: 20px 20px 0px 20px;}

.header h1 {color: #1a56ac; font-size: 28pt; font-weight: normal; position: absolute; margin: 0; padding: 0; top: 120px; left: 50px; width: 450px; text-align: left;}
 .header a:link {text-decoration:underline; color:#98dcf1;}
 .header a:active {text-decoration:underline; color:#98dcf1;}
 .header a:visited {text-decoration:underline; color:#98dcf1;}
 .header a:hover {text-decoration:none; color:#fff;}
.date {position: absolute; top: 5px; left: 200px; color: #fff; font-size: 8pt;}
.user-bar {position: absolute; right: 10px; top: 5px; font-size: 8pt; color: #273143;}
.navigation {}
 .i-home {display: block; width: 16px; height: 16px; text-indent: -9999px; background: url('../img/4.png') no-repeat; position: absolute; top: 5px; left: 110px; overflow: hidden;}
 .i-profile {display: block; width: 16px; height: 16px; text-indent: -9999px; background: url('../img/5.png') no-repeat; position: absolute; top: 5px; left: 130px; overflow: hidden;}
 .i-add {display: block; width: 16px; height: 16px; text-indent: -9999px; background: url('../img/6.png') no-repeat; position: absolute; top: 5px; left: 130px; overflow: hidden;}
 .i-enter {display: block; width: 16px; height: 16px; text-indent: -9999px; background: url('../img/7.png') no-repeat; position: absolute; top: 5px; left: 150px; overflow: hidden;}
 .i-exit {display: block; width: 16px; height: 16px; text-indent: -9999px; background: url('../img/8.png') no-repeat; position: absolute; top: 5px; left: 150px; overflow: hidden;}
 .i-rss {display: block; width: 16px; height: 16px; text-indent: -9999px; background: url('../img/9.png') no-repeat; position: absolute; top: 5px; left: 170px; overflow: hidden;}

.loginBlock {position: absolute; right: 10px; top: 5px; font-size: 8pt; color: #273143;}
.loginDiv {float: left; margin: 0 3px;}
 .loginDiv input {width: 100px; background: #98e2f0; border: 1px inset #008cc4; font-size: 8pt; color: #000; height: 18px; margin-left: 3px;}
.passwordDiv {float: left; margin: 0 3px;}
 .passwordDiv input {width: 100px; background: #98e2f0; border: 1px inset #008cc4; font-size: 8pt; color: #000; height: 18px; margin-left: 3px;}
.buttonDiv {float: left; margin: 0 3px;}
.rememberDiv {float: left; margin: 0 3px;}
.loginLinks {float: left; margin: 0 3px;}
.logLnkSep {padding: 0 5px;}


.footer {text-align: center; padding: 10px 0px;color:#2e758d; margin-left: auto; margin-right: auto; margin-top: 10px; width: 1000px; }

.popup-table {background: url('../img/1.png') repeat-x 0 -100px #fff;border: 0px; padding: 0px; border-collapse: collapse; width: 100%; border-spacing: 0px; }
.popup-header {padding:5px 15px;text-align:left;color:#fff;font-size:12pt;}
.popup-body {padding: 15px;}
.block {width: 250px; text-align: center; margin-bottom: 15px;}
.block-title {background: url('../img/10.png') bottom left no-repeat; padding: 5px 5px 2px 42px; font-size: 12pt; text-align: left; margin-bottom: 5px; color: #44b4da; font-weight: bold;}
.block-top {width: 230px; margin-left: auto; margin-right: auto; }
.block-content {padding: 5px; text-align: left;}

.searchForm {position: absolute; right: 10px; top: 270px;}
.schQuery {position: absolute; top: 0; right: 60px;}
.schBtn {position: absolute; top: 0; right: 0px;}
.queryField { background: #fff; border: 1px inset #ddf0f7;}


a:link {text-decoration:underline; color:#006fb2;}
a:active {text-decoration:underline; color:#006fb2;}
a:visited {text-decoration:underline; color:#006fb2;}
a:hover {text-decoration:none; color:#009fff;}

td, body {font-family: Arial, sans-serif; font-size:10pt; color: #52596f;}
form {padding:0px;margin:0px;}
input,textarea,select {vertical-align:middle; font-size:10pt; }
.copy {font-size:9pt;}

a.noun:link {text-decoration:none; color:#332414}
a.noun:active {text-decoration:none; color:#332414}
a.noun:visited {text-decoration:none; color:#332414}
a.noun:hover {text-decoration:none; color:#844f25}

h1 {color: #00493e; font-size: 18pt; font-weight: normal; padding: 0; margin: 0 0 10px 0;}

hr {color:#7ec8e3;height:1px;border:0;background-color:#7ec8e3;}
label {cursor:pointer;cursor:hand}

.blocktitle {color:#787878;font-size:12pt;}

a.menu1:link {text-decoration:underline; color:#e8f2f6}
a.menu1:active {text-decoration:underline; color:#e8f2f6}
a.menu1:visited {text-decoration:underline; color:#e8f2f6}
a.menu1:hover {text-decoration:underline; color:#bfd4db}
.menuTd {padding-left:12px;padding-right:10px; background: url('../img/11.gif') no-repeat 0px 3px;}

.mframe {border-left:1px solid #E5E7EA; border-right:1px solid #E5E7EA;}
.colgray {border-right:1px solid #E5E7EA;}
.colwhite {border-right:1px solid #e8f2f6;}
.msep {border-top:1px solid #e8f2f6;}
/* ------------- */

/* Menus */
ul.uz, ul.uMenuRoot {list-style: none; margin: 0 0 0 0; padding-left: 0px;}
li.menus {margin: 0; padding: 0 0 0 10px; background: url('../img/12.png') left center no-repeat; margin-bottom: .6em;}
/* ----- */

/* Site Menus */
.uMenuH li {float:left;padding:0 5px;}


.uMenuV .uMenuItem {font-weight:normal;}
.uMenuV li a:link {text-decoration:none; color:#525e83}
.uMenuV li a:active {text-decoration:none; color:#525e83}
.uMenuV li a:visited {text-decoration:none; color:#525e83}
.uMenuV li a:hover {text-decoration:none; color:#000}

.uMenuV a.uMenuItemA:link {text-decoration:none; color:#000}
.uMenuV a.uMenuItemA:visited {text-decoration:none; color:#000}
.uMenuV a.uMenuItemA:hover {text-decoration:underline; color:#000}
.uMenuV .uMenuArrow {position:absolute;width:10px;height:10px;right:0;top:3px;background:url('../img/13.gif') no-repeat 0 0;}
.uMenuV li {margin: 0; padding: 5px; margin-bottom: .2em;border-bottom:1px dashed #c5e5f5; text-align:left;font-size:11pt;}
/* --------- */

/* Module Part Menu */

.catsTable, #mchatIfm2, #MCaddFrm {width: 90% !important;}
.catsTd {padding: 0 0 0px 13px; background: url('../img/12.png') no-repeat 0 5px;}
.catName {font-size:10pt;}
.catNameActive {font-size:11px;}
.catNumData {font-size:9pt;color:#6E6E6E;}
.block .catDescr {font-size:9pt; padding-left:10px;}
.catDescr {font-size:9pt; padding-left:10px;}
a.catName:link {text-decoration:none; color:#332414;}
a.catName:visited {text-decoration:none; color:#332414;}
a.catName:hover {text-decoration:underline; color:#000000;}
a.catName:active {text-decoration:none; color:#332414;}
a.catNameActive:link {text-decoration:none; color:#000000;}
a.catNameActive:visited {text-decoration:none; color:#000000;}
a.catNameActive:hover {text-decoration:underline; color:#000000;}
a.catNameActive:active {text-decoration:none; color:#000000;}
.block a.catNameActive:link {text-decoration:none; color:#fff;}
.block a.catNameActive:visited {text-decoration:none; color:#fff;}
.block a.catNameActive:hover {text-decoration:underline; color:#fff;}
.block a.catNameActive:active {text-decoration:none; color:#fff;}

/* ----------------- */

/* Entries Style */
.eBlock {}
.eTitle {font-size:14pt;font-weight:normal;color:#46b1d5; padding: 5px; border-bottom: 1px solid #46b1d5;}
.eTitle a:link {text-decoration:none; color:#46b1d5;}
.eTitle a:visited {text-decoration:none; color:#46b1d5;}
.eTitle a:hover {text-decoration:none; color:#000000;}
.eTitle a:active {text-decoration:none; color:#46b1d5;}

.eMessage {text-align:justify;padding:10px !important;}
.eText {text-align:justify;padding:10px !important;}
.eDetails {color:#4e81af;padding:5px; text-align:left;font-size:8pt; background: #e8f2f6;}
.eDetails1 {color:#4e81af;padding:5px; text-align:left;font-size:8pt;background: #e8f2f6;}
.eDetails2 {color:#4e81af;padding:5px; text-align:left;font-size:8pt;}

.eRating {font-size:9pt;}

.eAttach {margin: 16px 0 0 0; padding: 0 0 0 15px; background: url('../img/14.gif') no-repeat 0px 0px;}
/* ------------- */

/* Entry Manage Table */
.manTable {}
.manTdError {color:#009fff;}
.manTd1 {}
.manTd2 {}
.manTd3 {}
.manTdSep {}
.manHr {}
.manTdBrief {}
.manTdText {}
.manTdFiles {}
.manFlFile {}
.manTdBut {}
.manFlSbm {}
.manFlRst {}
.manFlCnt {}
/* ------------------ */

/* Comments Style */
.cAnswer {padding-left:15px;padding-top:4px;font-style:italic;}

.cBlock1 {background:#e8f2f6; }
.cBlock2 {background:#d8e9f0; }
/* -------------- */

/* Comments Form Style */
.commTable {}
.commTd1 {color:#000000;}
.commTd2 {}
.commFl {color:#6E6E6E;width:100%;background:#FCFCFC;border:1px solid #bfd4db;}
.smiles {border:1px inset;background:#FFFFFF;}
.commReg {padding: 10 0 10 0px; text-align:center;}
.commError {color:#009fff;}
.securityCode {color:#6E6E6E;background:#FCFCFC;border:1px solid #bfd4db;}
/* ------------------- */

/* Archive Menu */
.archUl {list-style: none; margin:0; padding-left:0;}
.archLi {padding: 0 0 0px 13px; background: url('../img/12.png') no-repeat 0 5px;}
/* ------------ */

/* Archive Style */
.archiveCalendars {text-align:center;color:#0000FF;}
.archiveDateTitle {font-weight:bold;color:#6E6E6E;padding-top:15px;}
.archEntryHr {width:250px;color:#cbcebc;}
.archiveeTitle li {margin-left: 15px; padding: 0 0 0 15px; background: url('../img/15.gif') no-repeat 0px 4px; margin-bottom: .6em;}
.archiveEntryTime {width:65px;font-style:italic;}
.archiveEntryComms {font-size:9px;color:#C3C3C3;}
a.archiveDateTitleLink:link {text-decoration:none; color:#6E6E6E}
a.archiveDateTitleLink:visited {text-decoration:none; color:#6E6E6E}
a.archiveDateTitleLink:hover {text-decoration:underline; color:#6E6E6E}
a.archiveDateTitleLink:active {text-decoration:underline; color:#6E6E6E}
.archiveNoEntry {text-align:center;color:#0000FF;}
/* ------------- */

/* Calendar Style */
.calTable {margin-left: auto; margin-right: auto;}
.calMonth {}
.calWday {color:#FFFFFF;background:#73b6df;width:18px;}
.calWdaySe {color:#000000;background:#73b6df;width:18px;}
.calWdaySu {color:#000000;background:#73b6df;width:18px; font-weight:bold;}
.calMday {color:#000000;}
.calMdayA {background:#FCFF97;font-weight:bold;}
.calMdayIs {background:#eeae8e;color:#24613E;font-weight:bold;font-size:12pt;}
.calMdayIsA {border:1px solid #FFFFFF; background:#FCFF97;font-weight:bold;font-size:12pt;}
/* -------------- */

/* Poll styles */
.pollBut {width:110px;}

.pollBody {padding:7px; margin:0px; background:#FFFFFF}
.textResults {background:#E5E5E5}
.textResultsTd {background:#FFFFFF}

.pollNow {border-bottom:1px solid #E5E5E5; border-left:1px solid #E5E5E5; border-right:1px solid #E5E5E5;}
.pollNowTd {}

.totalVotesTable {border-bottom:1px solid #E5E5E5; border-left:1px solid #E5E5E5; border-right:1px solid #E5E5E5;}
.totalVotesTd {background:#FFFFFF;}
/* ---------- */

/* User Group Marks */
a.groupModer:link,a.groupModer:visited,a.groupModer:hover {color:blue;}
a.groupAdmin:link,a.groupAdmin:visited,a.groupAdmin:hover {color:red;}
a.groupVerify:link,a.groupVerify:visited,a.groupVerify:hover {color:green;}
/* ---------------- */

/* Other Styles */
.replaceTable {height:100px;width:300px;}
.replaceBody {background: url('../img/1.png') repeat-x #fff;}
.legendTd {font-size:9pt;}
/* ------------ */

/* ===== forum Start ===== */

/* General forum Table View */
.gTable {background: url('../img/1.png') repeat-x 0 -20px;}
.gTableTop {padding:5px 15px;text-align:left;color:#fff;font-size:12pt;}
.gTableSubTop {padding:2px;background:#bceef5;color:#000000;height:20px;font-size:10px;}
.gTableBody {padding:2px;background:#e8f2f6;}
.gTableBody1 {padding:2px;background:#FFFFFF;}
.gTableBottom {padding:2px;background:#e8f2f6;}
.gTableLeft {padding:2px;background:#e8f2f6;font-weight:bold;color:#6E6E6E}
.gTableRight {padding:2px;background:#e8f2f6}
.gTableError {padding:2px;background:#e8f2f6;color:#009fff;}
/* ------------------------ */

/* Forums Styles */
.forumNameTd,.forumLastPostTd {padding:2px;background:#FFFFFF}
.forumIcoTd,.forumThreadTd,.forumPostTd {padding:2px;background:#e8f2f6}
.forumLastPostTd,.forumArchive {padding:2px;font-size:9pt;}

a.catLink:link {text-decoration:none; color:#fff;}
a.catLink:visited {text-decoration:none; color:#fff;}
a.catLink:hover {text-decoration:underline; color:#000;}
a.catLink:active {text-decoration:underline; color:#fff;}

.lastPostGuest,.lastPostUser,.threadAuthor {font-weight:bold}
.archivedForum{font-size:9pt;color:#009fff;font-weight:bold;}
/* ------------- */

/* forum Titles & other */
.forum {font-weight:bold;font-size:9pt;}
.forumDescr,.forumModer {color:#858585;font-size:9pt;}
.forumViewed {font-size:9px;}
a.forum:link, a.lastPostUserLink:link, a.forumLastPostLink:link, a.threadAuthorLink:link {text-decoration:none; color:#6E6E6E;}
a.forum:visited, a.lastPostUserLink:visited, a.forumLastPostLink:visited, a.threadAuthorLink:visited {text-decoration:none; color:#6E6E6E;}
a.forum:hover, a.lastPostUserLink:hover, a.forumLastPostLink:hover, a.threadAuthorLink:hover {text-decoration:underline; color:#909090;}
a.forum:active, a.lastPostUserLink:active, a.forumLastPostLink:active, a.threadAuthorLink:active {text-decoration:underline; color:#6E6E6E;}
/* -------------------- */

/* forum Navigation Bar */
.forumNamesBar {font-weight:bold;font-size:9pt;}
.forumBarKw {font-weight:normal;}
a.forumBarA:link {text-decoration:none; color:#000000;}
a.forumBarA:visited {text-decoration:none; color:#000000;}
a.forumBarA:hover {text-decoration:none; color:#6E6E6E;}
a.forumBarA:active {text-decoration:underline; color:#6E6E6E;}
/* -------------------- */

/* forum Fast Navigation Blocks */
.fastNav,.fastSearch,.fastLoginForm {font-size:9pt;}
/* ---------------------------- */

/* forum Fast Navigation Menu */
.fastNavMain {background:#DADADA;}
.fastNavCat {background:#EFEFEF;}
.fastNavCatA {background:#EFEFEF;color:#0000FF}
.fastNavForumA {color:#0000FF}
/* -------------------------- */

/* forum Page switches */
.switches {background:#bfd4db;}
.pagesInfo {background:#FFFFFF;padding-right:10px;font-size:9pt;}
.switch {background:#FFFFFF;width:15px;font-size:9pt;}
.switchActive {background:#a3d0ed;font-weight:bold;color:#6E6E6E;width:15px}
a.switchDigit:link,a.switchBack:link,a.switchNext:link {text-decoration:none; color:#000000;}
a.switchDigit:visited,a.switchBack:visited,a.switchNext:visited {text-decoration:none; color:#000000;}
a.switchDigit:hover,a.switchBack:hover,a.switchNext:hover {text-decoration:underline; color:#009fff;}
a.switchDigit:active,a.switchBack:active,a.switchNext:active {text-decoration:underline; color:#009fff;}
/* ------------------- */

/* forum Threads Style */
.threadNametd,.threadAuthTd,.threadLastPostTd {padding:2px;padding:2px;background:#FFFFFF}
.threadIcoTd,.threadPostTd,.threadViewTd {padding:2px;background:#e8f2f6}
.threadLastPostTd {padding:2px;font-size:9pt;}
.threadDescr {color:#858585;font-size:9pt;}
.threadNoticeLink {font-weight:bold;}
.threadsType {padding:2px;background:#f9dc3d;height:20px;font-weight:bold;font-size:9pt;color:#000000;padding-left:40px; }
.threadsDetails {padding:2px;background:#73b6df;height:20px;color:#6E6E6E;}
.forumOnlineBar {padding:2px;background:#73b6df;height:20px;color:#6E6E6E;}

a.threadPinnedLink:link {text-decoration:none; color:#0000FF;}
a.threadPinnedLink:visited {text-decoration:none; color:#0000FF;}
a.threadPinnedLink:hover {text-decoration:none; color:#009fff;}
a.threadPinnedLink:active {text-decoration:underline; color:#009fff;}

a.threadLink:link {text-decoration:none; color:#6E6E6E;}
a.threadLink:visited {text-decoration:none; color:#6E6E6E;}
a.threadLink:hover {text-decoration:underline; color:#000000;}
a.threadLink:active {text-decoration:underline; color:#000000;}

.postpSwithces {font-size:9pt;}
.thDescr {font-weight:normal;}
.threadFrmBlock {font-size:9pt;text-align:right;}
/* ------------------- */

/* forum Posts View */
.postTable {}
.postPoll {background:#e8f2f6;text-align:center;}
.postFirst {background:#e8f2f6;border-bottom:3px solid #787878;}
.postRest1 {background:#e8f2f6;}
.postRest2 {background:#e8f2f6;}
.postSeparator {height:3px;background:#f9dc3d;}

.postTdTop {background:#bceef5;}
.postBottom {background:#a3d0ed;height:20px}
.postUser {font-weight:bold;}
.postTdInfo {text-align:center;padding:5px;}
.postRankName {margin-top:5px;}
.postRankIco {margin-bottom:5px;margin-bottom:5px;}
.reputation {margin-top:5px;}
.signatureHr {margin-top:20px;color:#787878;}
.posttdMessage {padding:5px;background:#FFFFFF;}

.pollQuestion {text-align:center;font-weight:bold;}
.pollButtons,.pollTotal {text-align:center;}
.pollSubmitBut,.pollreSultsBut {width:140px;font-size:9pt;}
.pollSubmit {font-weight:bold;}
.pollEnd {text-align:center;height:30px;}

.codeMessage {background:#FFFFFF;font-size:9px;}
.quoteMessage {background:#FFFFFF;font-size:9px;}

.signatureView {font-size:9pt;}
.edited {padding-top:30px;font-size:9pt;text-align:right;color:gray;}
.editedBy {font-weight:bold;font-size:10pt;}

.statusBlock {padding-top:3px;}
.statusOnline {color:#0000FF;}
.statusOffline {color:#009fff;}
/* ------------------ */

/* forum AllInOne Fast Add */
.newThreadBlock {background: #F9F9F9;border: 1px solid #B2B2B2;}
.newPollBlock {background: #F9F9F9;border: 1px solid #B2B2B2;}
.newThreadItem {padding: 0 0 0 8px; background: url('../img/16.gif') no-repeat 0px 4px;}
.newPollItem {padding: 0 0 0 8px; background: url('../img/16.gif') no-repeat 0px 4px;}
/* ----------------------- */

/* forum Post Form */
.loginButton, .pollBut, .searchSbmFl, .commSbmFl, .signButton, .buttonDiv input {font-size:8pt;background:#f9dc3d;border:1px outset #237c23; color: #000; padding: 1px 3px 2px 3px;}
.searchQueryFl {width:200px !important;}

.codeButtons {font-size:9pt;background:#73b6df;border:1px outset #6E6E6E;}
.codeCloseAll {font-size:9pt; color:#6E6E6E;font-weight:bold;background:#73b6df;border:1px solid #6E6E6E;}
.postNameFl,.postDescrFl {background: #ddf0f7; border: 1px inset #008cc4;width:400px}
.postPollFl,.postQuestionFl {background: #ddf0f7; border: 1px inset #008cc4;width:400px}
.postResultFl {background: #ddf0f7; border: 1px inset #008cc4;width:50px}
.postAnswerFl {background: #ddf0f7; border: 1px inset #008cc4;width:300px}
.postTextFl {background: #ddf0f7; border: 1px inset #008cc4;width:550px;height:150px}
.postUserFl {background: #ddf0f7; border: 1px inset #008cc4;width:300px}

.pollHelp {font-weight:normal;font-size:9pt;padding-top:3px;}
.smilesPart {padding-top:5px;text-align:center}
/* ----------------- */


/* ====== forum End ====== */

/* VVF added */

.menuSecond {
    list-style: none;
    padding: 5px 0px 10px 20px;
    margin-top: 10px;
    margin-left: 0px;
    border-top: solid 1px #7ec8e3;
}

.highlight {
    background: #FF7F60;
}
.highlight td {
    font-weight: bold;
    color: #000000;
}