{% extends "flatpages/default.html" %}
{% block after_content %}
    <form method="post" action="/booking/room/">
    {% csrf_token %}
    <input type="hidden" value="{{ form.occupied_from|date:"d.m.Y" }}" name="occupied_from">
    <input type="hidden" value="{{ form.occupied_to|date:"d.m.Y" }}" name="occupied_to">
    <input type="hidden" value="{{ form.room_type }}" name="room_type">
    <input type="hidden" value="{{ form.people_count }}" name="people_count">
    {%  if guest %}
        Бронирование номера на имя {{ guest.full_name }}
    {%  else %}
        Заполните ваши данные
        <table>
        {{ new_guest_form.as_table }}
        </table>
        <small>Мы гарантируем нераспространение личной информации третьим лицам</small>
    {%  endif %}
    <div></div>
    <p>Выберите свободный номер:</p><p>
    {% for room in rooms %}
        <input type="submit" value="{{ room }}" name="roomid_{{ room.id }}">
    {% endfor %} </p>
    </form>

{% endblock %}