{% extends "flatpages/default.html" %}
{% block after_content %}
{% if booking %}
    {% if booking.status == 'confirmed' %}
        <div class="confirmed">Ваша бронь подтверждена</div>
        <div class="reservation-details">
            <p>Бронь с  {{ booking.occupied_from }} до {{ booking.occupied_from }} </p>
            <p>Комната: {{ booking.room }}</p>
            <p>Количество гостей: {{ booking.people_count }}</p>
        </div>
    {% endif %}
    {% if booking.status == 'new' %}
        <div class="sended">На Ваш е-майл "{{ booking.guest.email }}" выслано письмо. Для подтверждения брони перейдите по ссылке в этом письме или свяжитесь с администрацией.</div>
    {% endif %}
{% else  %}
    Ок.
{% endif %}
<a href="/booking/my/">Мои брони</a>
{%  endblock %}