{% extends "flatpages/default.html" %}
{% block after_content %}
    <table>
    <tr>
        <th>Статус брони</th>
        <th>Дата въезда</th>
        <th>Дата выезда</th>
        <th>Корпус</th>
        <th>Тип номера</th>
        <th>Комната</th>
    </tr>
    {% for booking in bookings %}
        <tr {% if highlight_book == booking.id %}class="highlight"{% endif %}>
            <td>{{ booking.get_verbouse_status }}</td>
            <td>{{ booking.occupied_from }}</td>
            <td>{{ booking.occupied_to }}</td>
            <td>{{ booking.room.building }}</td>
            <td>{{ booking.room.room_type }}</td>
            <td>{{ booking.room.number }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
