{% extends "flatpages/default.html" %}
{%  block inhead %}
    {% load static %}

    <script type="text/javascript">window.__admin_media_prefix__ = "{% static 'admin/' %}";</script>

    <script type="text/javascript" src="{% static 'js/jsi18n_cached.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
<script type="text/javascript">
    var LANGUAGE_CODE = "ru-ru";

    var grappelli = {};
    grp={jQuery:$};
    DATE_FORMAT = "%d.%m.%Y";
    TIME_FORMAT = "%H:%M:%S";
</script>
    <script type="text/javascript" src="{% static 'admin/js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/actions.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/calendar.js' %}"></script>

    <script src="/static/grappelli/jquery/ui/js/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>

    <!-- Grappelli Minified -->
    <script src="/static/grappelli/js/grappelli.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $ = grp.jQuery;
</script>
{%  endblock %}
{% block after_content %}
    <form method="post">{% csrf_token %}
        <table>
{{ form.as_table }}
            </table>
    <input type="submit" value="Забронировать">
    </form>
<script type="application/javascript">
    grappelli.initDateAndTimePicker();
    (function($,d) {
        format_date= function( dt ){
            var day = '0' + dt.getDate();
            var month = '0' + (dt.getMonth()+1);
            var yr = dt.getYear()+1900;
            return day.substr(-2)+'.'+month.substr(-2)+'.'+yr;
        }
        $(d).ready(function () {
            var $pc = $('#id_people_count');
            var $d_from = $('#id_occupied_from');
            var $d_to = $('#id_occupied_to');
            var $rt = $('#id_room_type').on('change', function () {
                var nm = $rt.find('[value='+$rt.val()+']').html();
                $pc.val(parseInt(nm) || 2);
            });
            $d_from.on('change', function () {
                try {
                    var d_from = new Date($d_from.val().split('.').reverse().join('-'));
                    var d_to = $d_to.val();
                    if (d_to) {
                        d_to = new Date(d_to.split('.').reverse().join('-'));
                    }

                    if (!d_to || d_to <= d_from) {
                        d_from.setHours(d_from.getHours() + 24);
                        $d_to.val( format_date(d_from));
                    }
                }catch(err){

                }
            });

        })
    })(grp.jQuery, document);
</script>
{% endblock %}
