{% load menu_helpers %}
{% load static %}
{% load flatpages %}{% get_flatpages as flatpages %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <title>Дубрава, {% block title %}{% endblock %}</title>

    <link type="text/css" rel="StyleSheet" href="{{ STATIC_URL }}css/my.css"/>
    <link type="text/css" rel="StyleSheet" href="http://s55.ucoz.net/src/base.css"/>
    <link type="text/css" rel="StyleSheet" href="http://s55.ucoz.net/src/layer1.css"/>
    <link href="/static/grappelli/jquery/ui/css/custom-theme/jquery-ui-1.10.3.custom.min.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="/static/grappelli/stylesheets/screen.css" rel="stylesheet" type="text/css" media="screen" />

    <script type="text/javascript" src="http://s55.ucoz.net/src/jquery-1.7.2.js"></script>
    <script type="text/javascript">window.ulb = {photoPage: "Перейти на страницу с фотографией.", closeBtn: "Закрыть", error: "Запрошенный контент не может быть загружен. Пожалуйста, попробуйте позже.", next: "Вперед", prev: "Предыдущий", btnPlay: "Начать слайдшоу", btnToggle: "Изменить размер"}</script>
    <link href="http://s55.ucoz.net/src/ulightbox/ulightbox.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="http://s55.ucoz.net/src/ulightbox/ulightbox.js"></script>
{#    <script src="{{ STATIC_URL }}js/jquery.fancybox.js"></script>#}
{#    <script src="{{ STATIC_URL }}js/modernizr.custom.js"></script>#}

    {% block inhead %}{% endblock %}
    <link type="text/css" rel="StyleSheet" href="http://s55.ucoz.net/src/social.css"/>
</head>
<body>
<div class="wrap">
    <div class="wrap1">
        <div class="contanier">
            <div class="header"><a href="/">
                <h1>Пансионат «Дубрава»</h1></a>
            </div>
            <div class="user-bar">
                {% if not user.id %}
                <div id="uidLogForm">
                <form action="{% url 'login' %}?next=/" method="post">
                    {% csrf_token %}
                    <input type="text" name="username">
                    <input type="password" name="password">
                    <input type="submit" value="Войти">
                </form>
                </div>
                {% else %}
                    <div id="user-title">
                    {{ user.first_name }}
                    {{ user.last_name }}
                    </div>
                    <ul id="user-menu-internal">
                        <li><a href="{% url 'my_bookings' %}">Мои брони</a></li>
                        <li><a href="{% url 'logout' %}" onclick="$('#user-logout-form').submit(); return false;">Выйти</a>
                    <form action="{% url 'logout' %}?next=/" method="post" id="user-logout-form">{% csrf_token %}
                    </form>
                        </li>
                    </ul>
                {%  endif %}
            </div>
            <table class="main-table">
                <tr>
                    <td class="side-block">
                        <div class="block">
                            <div class="block-title">Меню сайта</div>
                            {% block site_menu %}
                            {% endblock %}
                            {#<div class="block-top"><div class="block-content"><!-- <bc> --><div id="uMenuDiv1" class="uMenuV" style="position:relative;"><ul class="uMenuRoot">#}
                            {#<li><div class="umn-tl"><div class="umn-tr"><div class="umn-tc"></div></div></div><div class="umn-ml"><div class="umn-mr"><div class="umn-mc"><div class="uMenuItem"><a href="/"><span>Главная страница</span></a></div></div></div></div><div class="umn-bl"><div class="umn-br"><div class="umn-bc"><div class="umn-footer"></div></div></div></div></li>#}
                            {#<li><div class="umn-tl"><div class="umn-tr"><div class="umn-tc"></div></div></div><div class="umn-ml"><div class="umn-mr"><div class="umn-mc"><div class="uMenuItem"><a href="/index/0-2"><span>Информация</span></a></div></div></div></div><div class="umn-bl"><div class="umn-br"><div class="umn-bc"><div class="umn-footer"></div></div></div></div></li>#}
                            {#<li><div class="umn-tl"><div class="umn-tr"><div class="umn-tc"></div></div></div><div class="umn-ml"><div class="umn-mr"><div class="umn-mc"><div class="uMenuItem"><a href="/photo"><span>Фотоальбомы</span></a></div></div></div></div><div class="umn-bl"><div class="umn-br"><div class="umn-bc"><div class="umn-footer"></div></div></div></div></li>#}
                            {#<li><div class="umn-tl"><div class="umn-tr"><div class="umn-tc"></div></div></div><div class="umn-ml"><div class="umn-mr"><div class="umn-mc"><div class="uMenuItem"><a href="/gb"><span>Гостевая книга</span></a></div></div></div></div><div class="umn-bl"><div class="umn-br"><div class="umn-bc"><div class="umn-footer"></div></div></div></div></li></ul></div><script type="text/javascript">$(function(){_uBuildMenu('#uMenuDiv1',0,document.location.href+'/','uMenuItemA','uMenuArrow',2500);})</script><!-- </bc> --></div></div>#}
                        </div>


                        <!-- <block10> -->
                        {#<div class="block">#}
                        {#<div class="block-title"><!-- <bt> --><!--<s5195>-->Статистика<!--</s>--><!-- </bt> --></div>#}
                        {#<div class="block-top"><div class="block-content"><div align="center"><!-- <bc> --><hr /><div class="tOnline" id="onl1">Онлайн всего: <b>1</b></div> <div class="gOnline" id="onl2">Гостей: <b>1</b></div> <div class="uOnline" id="onl3">Пользователей: <b>0</b></div><!-- </bc> --></div></div></div>#}
                        {#</div>#}
                        <!-- </block10> -->
                    </td>
                    <td class="content-block">

                        <!-- <body> -->
                        <div id="myGrid" style="display:none;">
                            <div style="position:fixed;width:100%;text-align:center;padding-top:250px;">
                                <img alt=""
                                                                                                             src="http://s55.ucoz.net/img/ma/m/i3.gif"
                                                                                                             border="0"
                                                                                                             width="220"
                                                                                                             height="19"/>
                            </div>
                        </div>
                        <div id="allEntries">
                            <div id="entryID1">
                                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="eBlock">
                                    <tr>
                                        <td style="padding:3px;">

                                            <div class="eTitle" style="text-align:left;">
                                                {% block content_title %}{% endblock %}
                                            </div>
                                            <div class="eMessage"
                                                 style="text-align:left;clear:both;padding-top:2px;padding-bottom:2px;">
                                                {% block content %}{% endblock %}
                                            </div>
{#                                            <div class="eDetails" style="clear:both;">#}
{##}
{#                                                <span class="e-reads"><span class="ed-title">Просмотров:</span> <span#}
{#                                                        class="ed-value">5487</span></span><span#}
{#                                                    class="ed-sep"> | </span>#}
{#                                                <span class="e-author"><span class="ed-title">Добавил:</span> <span#}
{#                                                        class="ed-value"><a href="javascript://" rel="nofollow"#}
{#                                                                            onclick="window.open('http://dubrava.ucoz.com/index/8-1','up1','scrollbars=1,top=0,left=0,resizable=1,width=680,height=350');return false;">Lupin</a></span></span><span#}
{#                                                    class="ed-sep"> | </span>#}
{#                                                <span class="e-date"><span class="ed-title">Дата:</span> <span#}
{#                                                        class="ed-value" title="12:19">15.08.2011</span></span>#}
{#                                                <span class="ed-sep"> | </span><a class="e-comments"#}
{#                                                                                  href="http://dubrava.ucoz.com/news/vsem_tem_kto_zhelaet_polnocenno_otdokhnut_na_chjornom_more/2011-08-15-1#comments">Комментарии#}
{#                                                (7)</a>#}
{#                                            </div>#}
                                        </td>
                                    </tr>
                                </table>
                                <br/>
                            </div>
                        </div>
                        <!-- </body> -->
                    </td>
                </tr>
            </table>
            <!-- </middle> -->
        </div>
    </div>
</div>
{#<textarea style="width:100%;height:150px">#}
{#{% debug %}#}
{#</textarea>#}
</body>
</html>
