{% extends "base.html" %}
{% block title %}{{ flatpage.title }}{% endblock %}
{% block content_title %}{{ flatpage.title }}{% endblock %}
{% block content %}
    {% load menu_helpers %}
    {{ flatpage.content|safe }}
    {% block after_content %}
    {% endblock %}
    {% block gallery %}
    <!-- gallery -->
    {% for img in flatpage.pageimage_set.all %}
        <a href="{{ img.image.url }}"
                class="ulightbox ph-link" data-fancybox-group="ultbx"
               >{{ img.image_tag|safe }}</a>
    {% endfor %}
    {% endblock %}
    {%  if flatpage|has_roomtype %}
    <!-- booking -->
    <a href="/booking/?rt={{ flatpage.roomtype.id }}">Забронировать номер {{ flatpage.roomtype }}</a>
    {% endif %}

{% endblock %}
{% block site_menu %}
    {% load menu_helpers %}
<ul class="uMenuRoot uMenuV">
        {% for page in flatpages %}{%  ifnotequal page.url '/'  %}
            {% if page|menu_level == 1 %}
                {% if page|is_subpage:flatpage %}
                    <li class="menus"><b>{{ page.title }}</b></li>
                {% else %}
                    <li> <a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endif %}
            {% endif %}
        {% endifnotequal %}{% endfor %}


{#<div class="block-top"><div class="block-content"><!-- <bc> --><div id="uMenuDiv1" class="uMenuV" style="position:relative;"><ul class="uMenuRoot">#}
{#<li><div class="umn-tl"><div class="umn-tr"><div class="umn-tc"></div></div></div><div class="umn-ml"><div class="umn-mr"><div class="umn-mc"><div class="uMenuItem"><a href="/"><span>Главная страница</span></a></div></div></div></div><div class="umn-bl"><div class="umn-br"><div class="umn-bc"><div class="umn-footer"></div></div></div></div></li>#}
{#<li><div class="umn-tl"><div class="umn-tr"><div class="umn-tc"></div></div></div><div class="umn-ml"><div class="umn-mr"><div class="umn-mc"><div class="uMenuItem"><a href="/index/0-2"><span>Информация</span></a></div></div></div></div><div class="umn-bl"><div class="umn-br"><div class="umn-bc"><div class="umn-footer"></div></div></div></div></li>#}
{#<li><div class="umn-tl"><div class="umn-tr"><div class="umn-tc"></div></div></div><div class="umn-ml"><div class="umn-mr"><div class="umn-mc"><div class="uMenuItem"><a href="/photo"><span>Фотоальбомы</span></a></div></div></div></div><div class="umn-bl"><div class="umn-br"><div class="umn-bc"><div class="umn-footer"></div></div></div></div></li>#}

</ul>
{% if flatpage|menu_level >= 1 %}

    <ul class="menuSecond uMenuV">
        {% for page in flatpages %}
            {% if flatpage|is_subpage:page %}
            {% if page|menu_level == 2 %}
                {% if page == flatpage %}
                    <li><b>{{ page.title }}</b></li>
                {% else %}
                    <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endif %}
            {% endif %}
        {% endif %}{% endfor %}
    </ul>
{% endif %}
{% endblock %}